@*@using WebApplication5.Models
    @model CaptainAndTripInfoModel*@
@{
    ViewBag.Title = "CaptainAndTripInfo";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
</head>
<body class="background">
    <div class="well well-lg">
        <!-- Contact Form - sent to a Google Sheet -->
        <form onsubmit="window.confirm('success');" id='foo'>
            <p>
                <label>Captain</label>
                <input id='captain' name='captain' type='text' placeholder="first and last name">
            </p><p>
                <label>First Mate</label>
                <input type="radio" id="firstmate" name="firstmate" value="yes" />yes
                <input type="radio" id="firstmate" name="firstmate" value="no" />no
            </p><p>
                <label>First Mate Name</label>
                <input id='fmname' name='fmname' type='text' placeholder="first and last name">
            </p><p>
                <label>Boat</label>
                <input type="radio" id="boat" name="boat" value="Top Flight I" />Top Flight I
                <input type="radio" id="boat" name="boat" value="Top Flight II" />Top Flight II
                <input type="radio" id="boat" name="boat" value="Top Flight III" />Top Flight III
                <input type="radio" id="boat" name="boat" value="Top Flight IV" />Top Flight IV
                <input type="radio" id="boat" name="boat" value="Top Flight JR" />Top Flight JR
            </p><p>
                <label>Motor Used For Trolling</label>
                <input type="radio" id="motor" name="motor" value="Port" />Port
                <input type="radio" id="motor" name="motor" value="Starboard" />Starboard
            </p><p>
                <label>Number Of Fish Caught</label>
                <input id='keepers' name='keepers' type='text'>
            </p><p>
                <label>Number Of Fish Thown Back</label>
                <input id='thrownback' name='thrownback' type='text'>
            </p>
            <p class="help-block">
                Example block-level help text here.
                <label for="exampleInputFile">File input</label>
                <input id="file" name="file" type="file">
            </p>
            <div id='success'>
                <button class="btn btn-danger" type='submit'>Send</button>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/google-sheet.js"></script>
</body>
</html>