@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
</head>
<body class="background">
    <div class="well well-lg">
        <!-- Contact Form - sent to a Google Sheet -->
        <form onsubmit="window.confirm('success');" id='foo'>
            <p>
                <label>First Name</label>
                <input id='first' name='first' type='text' placeholder="John">
            </p><p>
                <label>Last Name</label>
                <input id='last' name='last' type='text' placeholder="Doe">
            </p><p>
                <label>Email Address</label>
                <input id='email' name='email' type='email' placeholder="JohnDoe@gmail.com">
            </p><p>
                <label>Street Address</label>
                <input id='street' name='street' type='text' placeholder="101 River St">
            </p><p>
                <label>City</label>
                <input id='city' name='city' type='text' placeholder="Grand River">
            </p><p>
                <label>State</label>
                <input id='state' name='state' type='text' placeholder="OH">
            </p><p>
                <label>Zip</label>
                <input id='zip' name='zip' type='text' placeholder="44045">
            </p><p>
                <label>Phone Number</label>
                <input id='phone' name='phone' type='tel' placeholder="(440)123-4567">
            </p>
            <div id='success'></div>
            <button class="btn btn-lg btn-warning" type='submit'>Subscribe</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/google-sheet.js"></script>
</body>
</html>